In [1]:
# KEEP THIS ONE TO SEE ORIGINAL COLUMN NAMES FOR DOCUMENTATION BEFORE RENAMING & ALSO FOR REFERENCES

#VKL_NUMMER = Accident_ID
#AP3_CODE = Accident_Outcome                 ### Reference List: Aflopen3 i
#ANTL_PTJ = Number_Involvers
#AOL_ID = Type_Accident                      ### Reference List: AardOngevallen (Earth Accidents)

#NIVEAUKOP = Road_Level                      ### E=Accident exactly linked to BN, K=K = Accident linked at intersection level,S = Accident linked at street level,G = Accident linked to municipal level
#WSE_ID = Road_Situation                     ### Reference List: wegsituaties (Road Situations)
#WVL_ID = Road_Lightning                     ### Reference List: Wegverlichtingen (Road Lighting)
#WDK_ID = Road_Surface                       ### Reference list: Wegdekken (Road surfaces)
#WGD_CODE_1 = Road_Situation_2               ### D = Droog, R = Regen, M = Mist, S = Sneeuw/Hagel, H = Harde windstoten, O = Onbekend
 


#IND_ALC = Alcohol_Indication                ### J : Yes , N: No
#MAXSNELHD = Allowed_Max_Speed 
#LGD_ID = Lightning_Conditions_Accident      ### Reference List: Lichtgesteldheden (Lighting Conditions)

In [2]:
import pandas as pd
import numpy as np 
from matplotlib import pyplot as plt
import pymysql
from sqlalchemy import create_engine 
engine = create_engine('mysql+pymysql://root:346910@localhost/project_mysql')
#engine =create_engine('mysql+pymysql://root:Pollugubbi#123@localhost/project_mysql')

In [3]:
#                               IMPORTING DATABASES FROM MYSQL & TXT

In [4]:
#1
#df_accidents = pd.read_csv('data/accidents.txt', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')
df_accidents = pd.read_sql_query('SELECT * FROM project_mysql.accidents',engine)

#2
#df_coordinates = pd.read_csv('data/puntlocaties.txt', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')
df_coordinates = pd.read_sql_query('SELECT * FROM project_mysql.pointlocations',engine)

#3
df_objects = pd.read_csv('data/objecttypes.txt', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')

#4
#df_parties = pd.read_csv('data/parties.txt', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')
df_parties = pd.read_sql_query('SELECT * FROM project_mysql.parties',engine)

#5
#df_junctions = pd.read_csv('data/juncties.txt', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')
df_junctions = pd.read_sql_query('SELECT * FROM project_mysql.junctions',engine)

#6
#df_roadsections = pd.read_sql_query('SELECT * FROM project_mysql.roadsections',engine)

In [5]:
#                                       MERGING DATAFRAMES
## 1) ACCIDENT DF AND COORDINATES DF 

acc_coor_df = pd.merge(left=df_accidents, right=df_coordinates, left_on='FK_VELD5',
                  right_on='FK_VELD5', how='left')

## 2) PARTIES DF AND OBJECTS DF

prt_obj_df = pd.merge(left=df_parties, right=df_objects,on="OTE_ID")

## PARTIES+OBJECTS DF AND ACCIDENT+COORDINATES DF

big_df_categorized = pd.merge(left=acc_coor_df, right=prt_obj_df, left_on='VKL_NUMMER',
                 right_on='VKL_NUMMER', how='left')

big_df_categorized.head(3)

,VKL_NUMMER,REGNUMMER,PVOPGEM,DATUM_VKL,DAG_CODE,MND_NUMMER,JAAR_VKL,TIJDSTIP,UUR,DDL_ID,...,AGT_ID_1,AGT_ID_2,BWG_ID_1,BWG_ID_2,BWG_AN,TDT_ID_1,TDT_ID_2,TDT_ID_3,TDT_AN,OTE_OMS
0,20190011333,2019026344,,,,,2019,,,,...,,,,,,,,,\r,Personenauto
1,20190011333,2019026344,,,,,2019,,,,...,,,,,,,,,\r,Trekker
2,20190011334,2019025165,,,,,2019,,,,...,,,,,,,,,\r,Personenauto

In [6]:
#                          DROPPING UNRELATED COLUMNS & RENAMING

drop_columns = ['REGNUMMER','PVOPGEM', 'DATUM_VKL', 'DAG_CODE',
        'MND_NUMMER','JAAR_VKL', 'TIJDSTIP', 'UUR', 'DDL_ID',
        'AP4_CODE', 'AP5_CODE', 'ANTL_SLA', 'ANTL_DOD', 'ANTL_GZH', 'ANTL_SEH',
        'ANTL_GOV', 'ANTL_TDT', 'MNE_CODE','WSE_AN', 'BEBKOM','WVL_ID', 'WVG_ID', 'WVG_AN','WDK_AN',
        'ZAD_ID','WGD_CODE_2','BZD_ID_VM1', 'BZD_ID_VM2', 'BZD_ID_VM3', 'BZD_VM_AN', 'BZD_ID_IF1',
        'BZD_ID_IF2', 'BZD_ID_IF3', 'BZD_IF_AN', 'BZD_ID_TA1', 'BZD_ID_TA2',
        'BZD_ID_TA3', 'BZD_TA_AN', 'JTE_ID', 'WVK_ID', 'HECTOMETER',
        'HUISNUMMER','PLT_NAAM', 'DIENSTCODE', 'DIENSTNAAM', 
        'DAGTYPE', 'WEEKNR','PTJ_ID','NUMMER','DOORRIJDER',"OTE_AN",
        'NTT_CODE_V','VTGVERZ','SCHADE','GETRAANH','GEVSTOF','VTGVERL','ANTL_PAS','GEBDAT','GEBJAAR',
        'LEEFTIJD','LKE_ID','LKE_ID_FIJN','NTT_CODE_B','GESLACHT','BLAASTEST','ART8','MEDICGEBR',
        'RIJBEWGEL','RIJBEWCAT','RIJBEWBEG','BROMFCERT','UITGPOS1','UITGPOS2','UITGPOS_AN','VOORGBEW',
        'AGT_TYPE','AGT_ID_1','AGT_ID_2','BWG_ID_1','BWG_ID_2','BWG_AN','TDT_ID_1','TDT_ID_2',
        'TDT_ID_3','TDT_AN']

big_df_categorized =big_df_categorized.drop(drop_columns,axis=1)

big_df_categorized.columns=['Accident_ID', 'Accident_Outcome', 'Number_Involvers', 'Type_Accident',
       'Road_Level', 'Road_Situation', 'Allowed_Max_Speed', 'Road_Surface',
       'Lightning_Conditions_Accident', 'Road_Situation_2',"ForeignKey_Locations",
        'City_ID','City_Name','Province_Code', 'Province_Name',
        'Regions','District_Code', 'District_Name', 'Alcohol_Indication','X_Coord','Y_Coord',
        'Vehicle_ID','Vehicle_Type']

In [7]:
big_df_categorized.head(3)

,Accident_ID,Accident_Outcome,Number_Involvers,Type_Accident,Road_Level,Road_Situation,Allowed_Max_Speed,Road_Surface,Lightning_Conditions_Accident,Road_Situation_2,...,Province_Code,Province_Name,Regions,District_Code,District_Name,Alcohol_Indication,X_Coord,Y_Coord,Vehicle_ID,Vehicle_Type
0,20190011333,UMS,2,0,E,1,60,3,3,D,...,FR,Friesland,,,,,214779.378,561175.131\r,1,Personenauto
1,20190011333,UMS,2,0,E,1,60,3,3,D,...,FR,Friesland,,,,,214779.378,561175.131\r,22,Trekker
2,20190011334,LET,2,4,S,1,80,3,1,D,...,DR,Drenthe,,,,,260688.242,543011.462\r,1,Personenauto

In [8]:
#                       CONVERTING CATEGORIZED DATA INTO ITS' REFERENCES

big_df = big_df_categorized.copy()

big_df["Accident_Outcome"].replace({"UMS":"Only_material_dmg","LET":"Injured","DOD":"Deadly"},
                                   inplace=True)

big_df["Type_Accident"].replace({"0": "Unkown", "1": "Pedestrian","2":"Parked_Vehicle",
                                 "3":"Animal","4":"Solid_Object","5":"Loose_Object","6":"Frontal",
                                 "7":"Flank","8":"Head/tail","9":"One-sided"}, inplace=True)
   
big_df["Road_Level"].replace({"E": "Accident exactly linked to BN", 
                              "K": "Accident linked at intersection level",
                              "S":"Accident linked at street level",
                              "G":"Accident linked to municipal level"}, inplace=True)

big_df["Road_Situation"].replace({"1": "Straight_Road", "2":"Bend","3":"Roundabout",
                                 "4":"Crossroads_3_branches","5":"Crossroad_4_branches"},
                                 inplace=True)

big_df["Road_Surface"].replace({"1": "Dry", "2": "Wet","3":"Snow"},
                               inplace=True)

big_df["Road_Situation_2"].replace({"D":"Dry","R":"Rain","M":"Mist","S":"Snow",
                                "H":"Strong_Wind","O":"Unkown"}, inplace=True)

big_df["Lightning_Conditions_Accident"].replace({"1": "Daylight", "2": "Darkness","3":"Dusk"},
                                inplace=True)

big_df.head(3)

,Accident_ID,Accident_Outcome,Number_Involvers,Type_Accident,Road_Level,Road_Situation,Allowed_Max_Speed,Road_Surface,Lightning_Conditions_Accident,Road_Situation_2,...,Province_Code,Province_Name,Regions,District_Code,District_Name,Alcohol_Indication,X_Coord,Y_Coord,Vehicle_ID,Vehicle_Type
0,20190011333,Only_material_dmg,2,Unkown,Accident exactly linked to BN,Straight_Road,60,Snow,Dusk,Dry,...,FR,Friesland,,,,,214779.378,561175.131\r,1,Personenauto
1,20190011333,Only_material_dmg,2,Unkown,Accident exactly linked to BN,Straight_Road,60,Snow,Dusk,Dry,...,FR,Friesland,,,,,214779.378,561175.131\r,22,Trekker
2,20190011334,Injured,2,Solid_Object,Accident linked at street level,Straight_Road,80,Snow,Daylight,Dry,...,DR,Drenthe,,,,,260688.242,543011.462\r,1,Personenauto

In [9]:
print("big_df shape",big_df.shape)
print("big_df size",big_df.size)
big_df.isnull().sum()

big_df shape (222799, 23)
big_df size 5124377

Accident_ID                          0
Accident_Outcome                     0
Number_Involvers                     0
Type_Accident                        0
Road_Level                           0
Road_Situation                       0
Allowed_Max_Speed                    0
Road_Surface                         0
Lightning_Conditions_Accident        0
Road_Situation_2                     0
ForeignKey_Locations                 0
City_ID                              0
City_Name                            0
Province_Code                        0
Province_Name                        0
Regions                              0
District_Code                        0
District_Name                        0
Alcohol_Indication                   0
X_Coord                              0
Y_Coord                              0
Vehicle_ID                       42108
Vehicle_Type                     42108
dtype: int64

In [10]:
#                                FILTERING ONLY AMSTERDAM DATA
big_df_amsterdam = big_df[big_df["City_Name"] =="Amsterdam"]
big_df_amsterdam.head(3)

,Accident_ID,Accident_Outcome,Number_Involvers,Type_Accident,Road_Level,Road_Situation,Allowed_Max_Speed,Road_Surface,Lightning_Conditions_Accident,Road_Situation_2,...,Province_Code,Province_Name,Regions,District_Code,District_Name,Alcohol_Indication,X_Coord,Y_Coord,Vehicle_ID,Vehicle_Type
2777,20190014869,Only_material_dmg,1,Head/tail,Accident exactly linked to BN,Straight_Road,70,Wet,Daylight,Rain,...,NH,Noord-Holland,REGIONAAL ORGAAN AMSTERDAM,186,WNN District Zuid,,124307.651,491186.807\r,1,Personenauto
2822,20190008875,Only_material_dmg,1,Pedestrian,Accident exactly linked to BN,Straight_Road,50,Dry,Daylight,Dry,...,NH,Noord-Holland,REGIONAAL ORGAAN AMSTERDAM,,,,121282.32,486867.997\r,62,Snorfiets
2823,20190008876,Injured,2,Unkown,Accident exactly linked to BN,Crossroad_4_branches,50,Dry,Daylight,Dry,...,NH,Noord-Holland,REGIONAAL ORGAAN AMSTERDAM,,,,120053.286,487229.077\r,64,Fiets

In [11]:
print("big_df shape",big_df_amsterdam.shape)
print("big_df size",big_df_amsterdam.size)
big_df_amsterdam.isnull().sum()

big_df shape (11683, 23)
big_df size 268709

Accident_ID                         0
Accident_Outcome                    0
Number_Involvers                    0
Type_Accident                       0
Road_Level                          0
Road_Situation                      0
Allowed_Max_Speed                   0
Road_Surface                        0
Lightning_Conditions_Accident       0
Road_Situation_2                    0
ForeignKey_Locations                0
City_ID                             0
City_Name                           0
Province_Code                       0
Province_Name                       0
Regions                             0
District_Code                       0
District_Name                       0
Alcohol_Indication                  0
X_Coord                             0
Y_Coord                             0
Vehicle_ID                       2134
Vehicle_Type                     2134
dtype: int64

In [12]:
#                       ONE HOT DECODING FOR EACH COLUMN TO CHECK CORRELATIONS
    
df_onehot = big_df_amsterdam.copy()

# Accident Outcome Onehot Encoding
df_onehot_accident_outcome = pd.get_dummies(df_onehot, columns=['Accident_Outcome'], prefix = ['Accident_Outcome'])
df_onehot_accident_outcome.head(2)
#Type of Accident
df_onehot_type_accident = pd.get_dummies(df_onehot, columns=['Type_Accident'], prefix = ['Type_Accident'])
df_onehot_type_accident.head(2)
# Road Level Onehot Encoding
df_onehot_road_level = pd.get_dummies(df_onehot, columns=['Road_Level'], prefix = ['Road_Level'])
df_onehot_road_level.head(2)
# Road Situation Onehot Encoding
df_onehot_road_situation = pd.get_dummies(df_onehot, columns=['Road_Situation'], prefix = ['Road_Situation'])
df_onehot_road_situation.head(2)
# Road Surface Onethot Encoding
df_onehot_road_surface = pd.get_dummies(df_onehot, columns=['Road_Surface'], prefix = ['Road_Surface'])
df_onehot_road_surface.head(2)
# Lightning Conditions Encoding
df_onehot_lightning_conditions_accident = pd.get_dummies(df_onehot, columns=['Lightning_Conditions_Accident'], prefix = ['Lightning_Conditions_Accident'])
df_onehot_lightning_conditions_accident.head(2)
# Road Situatuon 2 Onehot Encoding
df_onehot_road_situation_2 = pd.get_dummies(df_onehot, columns=['Road_Situation_2'], prefix = ['Road_Situation_2'])
df_onehot_road_situation_2.head(2)
# Vehicle Type Onehot Encoding
df_onehot_vehicle_type = pd.get_dummies(df_onehot, columns=['Vehicle_Type'], prefix = ['Vehicle_Type'])
df_onehot_vehicle_type.head(2)

,Accident_ID,Accident_Outcome,Number_Involvers,Type_Accident,Road_Level,Road_Situation,Allowed_Max_Speed,Road_Surface,Lightning_Conditions_Accident,Road_Situation_2,...,Vehicle_Type_Overig wegmeubilair,Vehicle_Type_Personenauto,Vehicle_Type_Scootmobiel,Vehicle_Type_Snorfiets,Vehicle_Type_Trein/tram,Vehicle_Type_Trekker,Vehicle_Type_Trekker met oplegger,Vehicle_Type_Voetganger,Vehicle_Type_Vrachtauto,Vehicle_Type_e-bike
2777,20190014869,Only_material_dmg,1,Head/tail,Accident exactly linked to BN,Straight_Road,70,Wet,Daylight,Rain,...,0,1,0,0,0,0,0,0,0,0
2822,20190008875,Only_material_dmg,1,Pedestrian,Accident exactly linked to BN,Straight_Road,50,Dry,Daylight,Dry,...,0,0,0,1,0,0,0,0,0,0

In [14]:
#                           ONLY ENCODED COLUMNS + NUMERICAL COLUMNS

dicto1 = {1:("Accident_Outcome_Deadly","Accident_Outcome_Injured","Accident_Outcome_Only_material_dmg"),
          2:(df_onehot_accident_outcome),
          3:("Type_Accident_Unkown","Type_Accident_Pedestrian","Type_Accident_Parked_Vehicle","Type_Accident_Animal","Type_Accident_Solid_Object","Type_Accident_Loose_Object","Type_Accident_Frontal","Type_Accident_Flank","Type_Accident_Head/tail","Type_Accident_One-sided"),
          4:(df_onehot_type_accident),
          5:("Road_Level_Accident exactly linked to BN","Road_Level_Accident linked at intersection level","Road_Level_Accident linked at street level","Road_Level_Accident linked to municipal level"),
          6:(df_onehot_road_level),
          7:("Road_Situation_Bend","Road_Situation_Crossroad_4_branches","Road_Situation_Crossroads_3_branches","Road_Situation_Roundabout","Road_Situation_Straight_Road"),
          8:(df_onehot_road_situation),
          9:("Road_Surface_Dry","Road_Surface_Snow","Road_Surface_Wet"),
          10:(df_onehot_road_surface),
          11:("Lightning_Conditions_Accident_Darkness","Lightning_Conditions_Accident_Daylight","Lightning_Conditions_Accident_Dusk"),
          12:(df_onehot_lightning_conditions_accident),
          13:("Road_Situation_2_Dry","Road_Situation_2_Mist","Road_Situation_2_Rain","Road_Situation_2_Snow","Road_Situation_2_Strong_Wind"),
          14:(df_onehot_road_situation_2),
          15:("Vehicle_Type_Bestelauto","Vehicle_Type_Boom","Vehicle_Type_Bromfiets","Vehicle_Type_Bus","Vehicle_Type_Dier","Vehicle_Type_Fiets","Vehicle_Type_Landbouwvoertuig","Vehicle_Type_Lichtmast","Vehicle_Type_Los voorwerp","Vehicle_Type_Motor","Vehicle_Type_Onbekend voertuig i.g.v. doorrijder","Vehicle_Type_Overig vast object","Vehicle_Type_Overig wegmeubilair","Vehicle_Type_Personenauto","Vehicle_Type_Scootmobiel","Vehicle_Type_Snorfiets","Vehicle_Type_Trein/tram","Vehicle_Type_Trekker","Vehicle_Type_Trekker met oplegger","Vehicle_Type_Voetganger","Vehicle_Type_e-bike"),
          16:(df_onehot_vehicle_type)}

df_decoded = big_df_amsterdam.copy()  
#TO ALL CITIES replace with ==> df_decoded_df=big_df.copy()

o=2
for keys,columns in dicto1.items():
    if keys % 2 != 0:
        for k in range(o,o+1):
            df_decoded[list(columns)] = dicto1[k][list(columns)] 
        o += 2

#                      DROP CATEGORIZED COLUMNS SINCE ENCODED ALREADY ADDED

encoded_columns = ["Accident_Outcome","Type_Accident","Road_Level","Road_Situation","Road_Surface","Lightning_Conditions_Accident","Road_Situation_2","Vehicle_Type"]
un_encoded_columns = ["Accident_ID","ForeignKey_Locations","City_ID","City_Name","Province_Code","Province_Name","Regions","District_Code","District_Name","Alcohol_Indication","X_Coord","Y_Coord","Vehicle_ID"]

df_decoded = df_decoded.drop(columns=encoded_columns)
df_decoded = df_decoded.drop(columns=un_encoded_columns)

In [15]:
df_decoded.head(3)

,Number_Involvers,Allowed_Max_Speed,Accident_Outcome_Deadly,Accident_Outcome_Injured,Accident_Outcome_Only_material_dmg,Type_Accident_Unkown,Type_Accident_Pedestrian,Type_Accident_Parked_Vehicle,Type_Accident_Animal,Type_Accident_Solid_Object,...,Vehicle_Type_Overig vast object,Vehicle_Type_Overig wegmeubilair,Vehicle_Type_Personenauto,Vehicle_Type_Scootmobiel,Vehicle_Type_Snorfiets,Vehicle_Type_Trein/tram,Vehicle_Type_Trekker,Vehicle_Type_Trekker met oplegger,Vehicle_Type_Voetganger,Vehicle_Type_e-bike
2777,1,70,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2822,1,50,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2823,2,50,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
#################################### INDIVIDUAL PARTS #########################################



## Questions

1) Accident outcome - road situation_2 (If wet, death ratio higher?) -check when it's wet, when it's dry
2) Group by city and sum accident ID's to have an idea about number of accidents in each city 
3) Accident outcome - road lighthning (If day time, accidents more predictable, less death ratio maybe)
4) Accident outcome - alcohol indication (if yes more deaths)
5) Type of accident happened most in Amsterdam (Refer AardOngevallen.txt and merge the dataframe for demonstration??)