In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import pymysql 
from sqlalchemy import create_engine 
engine = create_engine('mysql+pymysql://root:346910@localhost/project_mysql')
#engine =create_engine('mysql+pymysql://root:Pollugubbi#123@localhost/project_mysql')

In [2]:
#                               IMPORTING DATABASES FROM MYSQL & TXT

In [3]:
#1
df_accidents = pd.read_csv('data/accidents.txt', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')
#df_accidents = pd.read_sql_query('SELECT * FROM project_mysql.accidents',engine)

#2
df_coordinates = pd.read_csv('data/puntlocaties.txt', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')
#df_coordinates = pd.read_sql_query('SELECT * FROM project_mysql.pointlocations',engine)

#3
df_objects = pd.read_csv('data/objecttypes.txt', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')

#4
df_parties = pd.read_csv('data/parties.txt', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')
#df_parties = pd.read_sql_query('SELECT * FROM project_mysql.parties',engine)

#5
#df_junctions = pd.read_csv('data/juncties.txt', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')
#df_junctions = pd.read_sql_query('SELECT * FROM project_mysql.junctions',engine)

#6
#df_roadsections = pd.read_csv('data/wegvakken.txt', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')
#df_roadsections = pd.read_sql_query('SELECT * FROM project_mysql.roadsections',engine)

In [4]:
#                                       MERGING DATAFRAMES
## 1) ACCIDENT DF AND COORDINATES DF 

acc_coor_df = pd.merge(left=df_accidents, right=df_coordinates, left_on='FK_VELD5',
                  right_on='FK_VELD5', how='left')

## 2) PARTIES DF AND OBJECTS DF

prt_obj_df = pd.merge(left=df_parties, right=df_objects,on="OTE_ID")

## PARTIES+OBJECTS DF AND ACCIDENT+COORDINATES DF

big_df_categorized = pd.merge(left=acc_coor_df, right=prt_obj_df, left_on='VKL_NUMMER',
                 right_on='VKL_NUMMER', how='left')

big_df_categorized.head(3)

,VKL_NUMMER,REGNUMMER,PVOPGEM,DATUM_VKL,DAG_CODE,MND_NUMMER,JAAR_VKL,TIJDSTIP,UUR,DDL_ID,...,AGT_ID_1,AGT_ID_2,BWG_ID_1,BWG_ID_2,BWG_AN,TDT_ID_1,TDT_ID_2,TDT_ID_3,TDT_AN,OTE_OMS
0,20190011333,2019026344,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Personenauto
1,20190011333,2019026344,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Trekker
2,20190011334,2019025165,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Personenauto

In [5]:
#                          DROPPING UNRELATED COLUMNS & RENAMING

drop_columns = ['REGNUMMER','PVOPGEM', 'DATUM_VKL', 'DAG_CODE',
        'MND_NUMMER','JAAR_VKL', 'TIJDSTIP', 'UUR', 'DDL_ID',
        'AP4_CODE', 'AP5_CODE', 'ANTL_SLA', 'ANTL_DOD', 'ANTL_GZH', 'ANTL_SEH',
        'ANTL_GOV', 'ANTL_TDT', 'MNE_CODE','WSE_AN', 'BEBKOM','WVL_ID', 'WVG_ID', 'WVG_AN','WDK_AN',
        'ZAD_ID','WGD_CODE_2','BZD_ID_VM1', 'BZD_ID_VM2', 'BZD_ID_VM3', 'BZD_VM_AN', 'BZD_ID_IF1',
        'BZD_ID_IF2', 'BZD_ID_IF3', 'BZD_IF_AN', 'BZD_ID_TA1', 'BZD_ID_TA2',
        'BZD_ID_TA3', 'BZD_TA_AN', 'JTE_ID', 'WVK_ID', 'HECTOMETER',
        'HUISNUMMER','PLT_NAAM', 'DIENSTCODE', 'DIENSTNAAM', 
        'DAGTYPE', 'WEEKNR','PTJ_ID','NUMMER','DOORRIJDER',"OTE_AN",
        'NTT_CODE_V','VTGVERZ','SCHADE','GETRAANH','GEVSTOF','VTGVERL','ANTL_PAS','GEBDAT','GEBJAAR',
        'LEEFTIJD','LKE_ID','LKE_ID_FIJN','NTT_CODE_B','GESLACHT','BLAASTEST','ART8','MEDICGEBR',
        'RIJBEWGEL','RIJBEWCAT','RIJBEWBEG','BROMFCERT','UITGPOS1','UITGPOS2','UITGPOS_AN','VOORGBEW',
        'AGT_TYPE','AGT_ID_1','AGT_ID_2','BWG_ID_1','BWG_ID_2','BWG_AN','TDT_ID_1','TDT_ID_2',
        'TDT_ID_3','TDT_AN']

big_df_categorized =big_df_categorized.drop(drop_columns,axis=1)

big_df_categorized.columns=['Accident_ID', 'Accident_Outcome', 'Number_Involvers', 'Type_Accident',
       'Road_Level', 'Road_Situation', 'Allowed_Max_Speed', 'Road_Surface',
       'Lightning_Conditions_Accident', 'Road_Situation_2',"ForeignKey_Locations",
        'City_ID','City_Name','Province_Code', 'Province_Name',
        'Regions','District_Code', 'District_Name', 'Alcohol_Indication','X_Coord','Y_Coord',
        'Vehicle_ID','Vehicle_Type']

In [6]:
#                       CONVERTING CATEGORIZED DATA INTO ITS' REFERENCES

big_df = big_df_categorized.copy()

big_df["Accident_Outcome"].replace({"UMS":"Only_material_dmg","LET":"Injured","DOD":"Deadly"},
                                   inplace=True)

big_df["Type_Accident"].replace({"0": "Unkown", "1": "Pedestrian","2":"Parked_Vehicle",
                                 "3":"Animal","4":"Solid_Object","5":"Loose_Object","6":"Frontal",
                                 "7":"Flank","8":"Head/tail","9":"One-sided"}, inplace=True)
   
big_df["Road_Level"].replace({"E": "Accident exactly linked to BN", 
                              "K": "Accident linked at intersection level",
                              "S":"Accident linked at street level",
                              "G":"Accident linked to municipal level"}, inplace=True)

big_df["Road_Situation"].replace({"1": "Straight_Road", "2":"Bend","3":"Roundabout",
                                 "4":"Crossroads_3_branches","5":"Crossroad_4_branches"},
                                 inplace=True)

big_df["Road_Surface"].replace({"1": "Dry", "2": "Wet","3":"Snow"},
                               inplace=True)

big_df["Road_Situation_2"].replace({"D":"Dry","R":"Rain","M":"Mist","S":"Snow",
                                "H":"Strong_Wind","O":"Unkown"}, inplace=True)

big_df["Lightning_Conditions_Accident"].replace({"1": "Daylight", "2": "Darkness","3":"Dusk"},
                                inplace=True)

big_df.head(3)

,Accident_ID,Accident_Outcome,Number_Involvers,Type_Accident,Road_Level,Road_Situation,Allowed_Max_Speed,Road_Surface,Lightning_Conditions_Accident,Road_Situation_2,...,Province_Code,Province_Name,Regions,District_Code,District_Name,Alcohol_Indication,X_Coord,Y_Coord,Vehicle_ID,Vehicle_Type
0,20190011333,Only_material_dmg,2,Unkown,Accident exactly linked to BN,Straight_Road,60,Snow,Dusk,Dry,...,FR,Friesland,NaN,NaN,NaN,NaN,214779.378,561175.131,1,Personenauto
1,20190011333,Only_material_dmg,2,Unkown,Accident exactly linked to BN,Straight_Road,60,Snow,Dusk,Dry,...,FR,Friesland,NaN,NaN,NaN,NaN,214779.378,561175.131,22,Trekker
2,20190011334,Injured,2,Solid_Object,Accident linked at street level,Straight_Road,80,Snow,Daylight,Dry,...,DR,Drenthe,NaN,NaN,NaN,NaN,260688.242,543011.462,1,Personenauto

In [7]:
print("big_df shape",big_df.shape)
print("big_df size",big_df.size)
big_df.isnull().sum()

big_df shape (222799, 23)
big_df size 5124377

Accident_ID                           0
Accident_Outcome                      0
Number_Involvers                      0
Type_Accident                         0
Road_Level                            0
Road_Situation                    57045
Allowed_Max_Speed                 39359
Road_Surface                      55325
Lightning_Conditions_Accident         5
Road_Situation_2                  57600
ForeignKey_Locations                  0
City_ID                               0
City_Name                             0
Province_Code                         0
Province_Name                         0
Regions                           33156
District_Code                    161454
District_Name                    161454
Alcohol_Indication               217877
X_Coord                               0
Y_Coord                               0
Vehicle_ID                        42108
Vehicle_Type                      42108
dtype: int64

In [8]:
#                                FILTERING ONLY AMSTERDAM DATA
big_df_amsterdam = big_df[big_df["City_Name"] =="Amsterdam"]
big_df_amsterdam.head(3)

,Accident_ID,Accident_Outcome,Number_Involvers,Type_Accident,Road_Level,Road_Situation,Allowed_Max_Speed,Road_Surface,Lightning_Conditions_Accident,Road_Situation_2,...,Province_Code,Province_Name,Regions,District_Code,District_Name,Alcohol_Indication,X_Coord,Y_Coord,Vehicle_ID,Vehicle_Type
2777,20190014869,Only_material_dmg,1,Head/tail,Accident exactly linked to BN,Straight_Road,70,Wet,Daylight,Rain,...,NH,Noord-Holland,REGIONAAL ORGAAN AMSTERDAM,186,WNN District Zuid,NaN,124307.651,491186.807,1,Personenauto
2822,20190008875,Only_material_dmg,1,Pedestrian,Accident exactly linked to BN,Straight_Road,50,Dry,Daylight,Dry,...,NH,Noord-Holland,REGIONAAL ORGAAN AMSTERDAM,NaN,NaN,NaN,121282.32,486867.997,62,Snorfiets
2823,20190008876,Injured,2,Unkown,Accident exactly linked to BN,Crossroad_4_branches,50,Dry,Daylight,Dry,...,NH,Noord-Holland,REGIONAAL ORGAAN AMSTERDAM,NaN,NaN,NaN,120053.286,487229.077,64,Fiets

In [9]:
print("big_df shape",big_df_amsterdam.shape)
print("big_df size",big_df_amsterdam.size)
big_df_amsterdam.isnull().sum()

big_df shape (11683, 23)
big_df size 268709

Accident_ID                          0
Accident_Outcome                     0
Number_Involvers                     0
Type_Accident                        0
Road_Level                           0
Road_Situation                    2699
Allowed_Max_Speed                 1992
Road_Surface                      2601
Lightning_Conditions_Accident        0
Road_Situation_2                  2801
ForeignKey_Locations                 0
City_ID                              0
City_Name                            0
Province_Code                        0
Province_Name                        0
Regions                              0
District_Code                     8277
District_Name                     8277
Alcohol_Indication               11448
X_Coord                              0
Y_Coord                              0
Vehicle_ID                        2134
Vehicle_Type                      2134
dtype: int64

In [10]:
#                       ONE HOT DECODING FOR EACH COLUMN TO CHECK CORRELATIONS
    
df_onehot = big_df_amsterdam.copy()

# Accident Outcome Onehot Encoding
df_onehot_accident_outcome = pd.get_dummies(df_onehot, columns=['Accident_Outcome'], prefix = ['Accident_Outcome'])
#df_onehot_accident_outcome.head(2)

#Type of Accident
df_onehot_type_accident = pd.get_dummies(df_onehot, columns=['Type_Accident'], prefix = ['Type_Accident'])
#df_onehot_type_accident.head(2)

# Road Level Onehot Encoding
df_onehot_road_level = pd.get_dummies(df_onehot, columns=['Road_Level'], prefix = ['Road_Level'])
#df_onehot_road_level.head(2)

# Road Situation Onehot Encoding
df_onehot_road_situation = pd.get_dummies(df_onehot, columns=['Road_Situation'], prefix = ['Road_Situation'])
#df_onehot_road_situation.head(2)

# Road Surface Onethot Encoding
df_onehot_road_surface = pd.get_dummies(df_onehot, columns=['Road_Surface'], prefix = ['Road_Surface'])
#df_onehot_road_surface.head(2)

# Lightning Conditions Encoding
df_onehot_lightning_conditions_accident = pd.get_dummies(df_onehot, columns=['Lightning_Conditions_Accident'], prefix = ['Lightning_Conditions_Accident'])
#df_onehot_lightning_conditions_accident.head(2)

# Road Situatuon 2 Onehot Encoding
df_onehot_road_situation_2 = pd.get_dummies(df_onehot, columns=['Road_Situation_2'], prefix = ['Road_Situation_2'])
#df_onehot_road_situation_2.head(2)

# Vehicle Type Onehot Encoding
df_onehot_vehicle_type = pd.get_dummies(df_onehot, columns=['Vehicle_Type'], prefix = ['Vehicle_Type'])
#df_onehot_vehicle_type.head(2)

In [11]:
#Reset the index to 0 for the filtered "Amsterdam" records 

big_df_amsterdam.reset_index(drop=True,inplace=True)
big_df_amsterdam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11683 entries, 0 to 11682
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Accident_ID                    11683 non-null  object
 1   Accident_Outcome               11683 non-null  object
 2   Number_Involvers               11683 non-null  object
 3   Type_Accident                  11683 non-null  object
 4   Road_Level                     11683 non-null  object
 5   Road_Situation                 8984 non-null   object
 6   Allowed_Max_Speed              9691 non-null   object
 7   Road_Surface                   9082 non-null   object
 8   Lightning_Conditions_Accident  11683 non-null  object
 9   Road_Situation_2               8882 non-null   object
 10  ForeignKey_Locations           11683 non-null  object
 11  City_ID                        11683 non-null  object
 12  City_Name                      11683 non-null  object
 13  Province_Code                  11683 non-null  object
 14  Province_Name                  11683 non-null  object
 15  Regions                        11683 non-null  object
 16  District_Code                  3406 non-null   object
 17  District_Name                  3406 non-null   object
 18  Alcohol_Indication             235 non-null    object
 19  X_Coord                        11683 non-null  object
 20  Y_Coord                        11683 non-null  object
 21  Vehicle_ID                     9549 non-null   object
 22  Vehicle_Type                   9549 non-null   object
dtypes: object(23)
memory usage: 1.0+ MB

In [12]:
#                                      ANALYSIS
# Looking at some simple statistics:
big_df_amsterdam.describe()

# Observation 1
# The most no. of accidents in Amsterdam in the year 2019 have happened with 
# personal cars in the daylight in a straight road when the surface was dry.

,Accident_ID,Accident_Outcome,Number_Involvers,Type_Accident,Road_Level,Road_Situation,Allowed_Max_Speed,Road_Surface,Lightning_Conditions_Accident,Road_Situation_2,...,Province_Code,Province_Name,Regions,District_Code,District_Name,Alcohol_Indication,X_Coord,Y_Coord,Vehicle_ID,Vehicle_Type
count,11683,11683,11683,11683,11683,8984,9691,9082,11683,8882,...,11683,11683,11683,3406,3406,235,11683,11683,9549,9549
unique,7085,3,9,10,4,5,9,3,3,5,...,1,1,1,1,1,1,3984,3987,23,23
top,20190060284,Only_material_dmg,2,Unkown,Accident exactly linked to BN,Straight_Road,50,Dry,Daylight,Dry,...,NH,Noord-Holland,REGIONAAL ORGAAN AMSTERDAM,186,WNN District Zuid,J,122176.13,492787.755,1,Personenauto
freq,8,9808,6925,3555,8974,4782,5419,6304,8127,7338,...,11683,11683,11683,3406,3406,235,65,65,5082,5082

In [13]:
frequency = big_df_amsterdam['Type_Accident'].value_counts(normalize =True)
print(frequency * 100)

# Observation 2 
# Based on the available data 30% of the type of accidents are not known, 
# and out of the known cases ,9% corresponds to Flank and 20% corresponds to Head/Tail.

Unkown            30.428828
Flank             29.042198
Head/tail         20.020543
Solid_Object       6.411025
Pedestrian         3.997261
Frontal            3.689121
Parked_Vehicle     2.465120
One-sided          2.302491
Loose_Object       1.515022
Animal             0.128392
Name: Type_Accident, dtype: float64

In [14]:
big_df_amsterdam.groupby(['Lightning_Conditions_Accident','Accident_Outcome']).size()

Lightning_Conditions_Accident  Accident_Outcome
Darkness                       Deadly                 11
                               Injured               471
                               Only_material_dmg    2427
Daylight                       Deadly                 16
                               Injured              1278
                               Only_material_dmg    6833
Dusk                           Injured                99
                               Only_material_dmg     548
dtype: int64

In [15]:
# A quick look at the nature of the "INJURED" accidents reported.

df_Injured = big_df_amsterdam[big_df_amsterdam['Accident_Outcome']=='Injured']
#df_Injured.head(3)

In [16]:
df_Injured.groupby(['Road_Situation','Vehicle_Type']).size()

# Observation 3
# Unfortunately ,due to the carelessness of drivers, 
# its the pedestrians who are mostly getting injured in straight roads.

Road_Situation  Vehicle_Type
Bend            Bestelauto                4
                Boom                      3
                Bromfiets                 8
                Brommobiel                2
                Bus                       1
                                       ...
Straight_Road   Trekker                   1
                Trekker met oplegger      1
                Voetganger              105
                Vrachtauto               13
                e-bike                   19
Length: 79, dtype: int64

In [17]:
#                             DRUNK AND DRIVING STATS - ANALYSIS

# Subset of the dataframe for a positive Alcohol indication.
df_drunken = big_df_amsterdam[big_df_amsterdam['Alcohol_Indication']=='J']

In [18]:
freq = df_drunken['Lightning_Conditions_Accident'].value_counts(dropna=False)
print(freq)

# Observation 4
# As expected , most accidents caused due to "drink and drive" has happened during the nighttime.

Darkness    157
Daylight     61
Dusk         17
Name: Lightning_Conditions_Accident, dtype: int64

In [19]:
df_drunken.groupby(['Vehicle_Type','Lightning_Conditions_Accident','Accident_Outcome']).size()

# Observation 5
# Most of the accidents have only material damage.
# While majority of accidents caused by people who consumed alcohol were driving cars, 
# the 2 deadly accidents reported are in the daytime - one due to a fiets and another by a car.

Vehicle_Type         Lightning_Conditions_Accident  Accident_Outcome
Bestelauto           Darkness                       Injured               2
                                                    Only_material_dmg     4
                     Daylight                       Only_material_dmg     2
Boom                 Darkness                       Injured               2
                                                    Only_material_dmg     1
                     Daylight                       Only_material_dmg     1
Bromfiets            Darkness                       Injured               3
                                                    Only_material_dmg     3
                     Daylight                       Only_material_dmg     1
                     Dusk                           Only_material_dmg     1
Bus                  Daylight                       Only_material_dmg     1
Fiets                Darkness                       Injured              12
                                                    Only_material_dmg     9
                     Daylight                       Deadly                1
                                                    Injured               4
                                                    Only_material_dmg     2
                     Dusk                           Injured               1
                                                    Only_material_dmg     2
Lichtmast            Darkness                       Injured               1
                                                    Only_material_dmg     2
                     Daylight                       Injured               1
                                                    Only_material_dmg     2
Los voorwerp         Darkness                       Only_material_dmg     3
Motor                Darkness                       Injured               2
                                                    Only_material_dmg     1
Overig vast object   Darkness                       Injured               3
                                                    Only_material_dmg     8
                     Daylight                       Injured               1
                                                    Only_material_dmg     2
Overig wegmeubilair  Darkness                       Injured               1
                                                    Only_material_dmg     6
                     Daylight                       Only_material_dmg     1
Personenauto         Darkness                       Injured              17
                                                    Only_material_dmg    68
                     Daylight                       Deadly                1
                                                    Injured              15
                                                    Only_material_dmg    19
                     Dusk                           Injured               2
                                                    Only_material_dmg     9
Snorfiets            Darkness                       Injured               3
                                                    Only_material_dmg     3
                     Daylight                       Injured               2
                                                    Only_material_dmg     1
                     Dusk                           Injured               1
                                                    Only_material_dmg     1
Trein/tram           Darkness                       Only_material_dmg     1
                     Daylight                       Injured               1
Trekker              Daylight                       Injured               1
Voetganger           Darkness                       Injured               1
                                                    Only_material_dmg     1
                     Daylight                       Injured               1
Vrachtauto           Daylight                       Injured               1
dtype: int64

In [20]:
big_df['City_Name'].value_counts() 

#Observation 6 :The highest no.of accidents reported is in Rotterdam.

Rotterdam            12568
Amsterdam            11683
's-Gravenhage         9062
Utrecht               5278
Haarlemmermeer        4319
                     ...
Mook en Middelaar       42
Terschelling            40
Rozendaal               19
Vlieland                11
Schiermonnikoog          2
Name: City_Name, Length: 355, dtype: int64

In [21]:
#Reset index

df_onehot.reset_index(drop=True,inplace=True)

In [22]:
big_df_amsterdam.head(3)

,Accident_ID,Accident_Outcome,Number_Involvers,Type_Accident,Road_Level,Road_Situation,Allowed_Max_Speed,Road_Surface,Lightning_Conditions_Accident,Road_Situation_2,...,Province_Code,Province_Name,Regions,District_Code,District_Name,Alcohol_Indication,X_Coord,Y_Coord,Vehicle_ID,Vehicle_Type
0,20190014869,Only_material_dmg,1,Head/tail,Accident exactly linked to BN,Straight_Road,70,Wet,Daylight,Rain,...,NH,Noord-Holland,REGIONAAL ORGAAN AMSTERDAM,186,WNN District Zuid,NaN,124307.651,491186.807,1,Personenauto
1,20190008875,Only_material_dmg,1,Pedestrian,Accident exactly linked to BN,Straight_Road,50,Dry,Daylight,Dry,...,NH,Noord-Holland,REGIONAAL ORGAAN AMSTERDAM,NaN,NaN,NaN,121282.32,486867.997,62,Snorfiets
2,20190008876,Injured,2,Unkown,Accident exactly linked to BN,Crossroad_4_branches,50,Dry,Daylight,Dry,...,NH,Noord-Holland,REGIONAAL ORGAAN AMSTERDAM,NaN,NaN,NaN,120053.286,487229.077,64,Fiets

In [23]:
#                       MOST ACCIDENT PRONE AREA IN AMSTERDAM

In [24]:
big_df_amsterdam['X_Coord'].value_counts()
# This result indicates the x-coordinate(latitude)location of accidents occured . 
# In the order : accidents happen most frequently to least

122176.13     65
123397.094    62
123510.21     46
122311.977    45
120379.538    40
              ..
125583.398     1
127550.5       1
118011.226     1
113894.593     1
119864.5       1
Name: X_Coord, Length: 3984, dtype: int64

In [25]:
# Setting the index based on the point coordinate field (either x or y)
big_df_amsterdam.set_index("X_Coord", inplace=True)

In [26]:
big_df_amsterdam.loc[['122176.13','123397.094','123510.21'],['ForeignKey_Locations','Police_Dist_Name']]
#big_df_amsterdam.loc[df_onehot['Y_Coord']== '492787.755',['ForeignKey_Locations','Police_Dist_Name']]
# The field ForeignKey_Locations represents the roadsection ID and as we traced back to 
# Roadsections file ,we could locate the most accident prone area in Amsterdam.

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['Police_Dist_Name'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [27]:
df_roadsections.loc[df_roadsections['FK_VELD5'] == 'WVK0243385089',['STT_NAAM']]

# Observation 7: The most accident prone area falls under
# the Region :Eenheid , Street :Ringweg-Noord in Amsterdam.

NameError: name 'df_roadsections' is not defined

In [28]:
#Reset index

df_onehot.reset_index(drop=True,inplace=True)

In [29]:
#                               BIKING IN AMSTERDAM

df_fiets = big_df_amsterdam[big_df_amsterdam['Vehicle_Type']=='Fiets']
big_df_amsterdam['Vehicle_Type'].shape #----> 11683 cases
df_fiets.shape # -----> 1269 cases
# Observation 8
# Fiets accidents generates 10% of total accidents in Amsterdam

(1269, 22)

In [30]:
big_df[big_df["City_Name"] =="Rotterdam"].shape # ----> 12568 cases
big_df[(big_df["City_Name"] =="Rotterdam") & (big_df['Vehicle_Type']=='Fiets')].shape # ---> 745 cases
# Fiets accidents generates 5.92 % of total accidents in Rotterdam

# Observation 9
# Having said that about Observation 3, we can see that accidents due to 
# bike are more in Amsterdam than in Rotterdam.

(745, 23)

In [31]:
# Observation 10

# The higher the speed, the higher probability of damaged material. 
# Increasement in the material dmg makes sense but why dead/injured ratio lowers?
# Could it be because lower max speeds means driver is driving inside the city boundaries
# instead of highways, and even small accidents can cause death/injuries for ex: car/bike accident?

df_speed_accident = big_df_amsterdam.copy()

df_speed_accident[["Allowed_Max_Speed"]] = df_speed_accident[["Allowed_Max_Speed"]].fillna(0)
df_speed_accident['Allowed_Max_Speed'] = df_speed_accident['Allowed_Max_Speed'].astype(int)

df_speed_accident[['Allowed_Max_Speed',"Accident_Outcome"]].groupby(["Allowed_Max_Speed","Accident_Outcome"]).size()

# Ratios

# 15: 63   -------------- ignore
# 30: 912     Deadly: %0.32   Injured: %25.43    Material_dmg = %74.25
# 50: 5419    Deadly: %0.35   Injured: %22.73    Material_dmg = %76.91
# 60: 20   ---------------ignore
# 70: 393  ---------------ignore 
# 80: 586    Deadly: %0.34    Injured %6.30     Material_dmg = %93.44
# 90: 42   ----------------ignore
# 100: 2203    Deadly: %0.1   Injured: %1.9     Material_dmg = %97
# 130: 53  --------------ignore

Allowed_Max_Speed  Accident_Outcome
0                  Deadly                  1
                   Injured               259
                   Only_material_dmg    1732
15                 Injured                12
                   Only_material_dmg      51
30                 Deadly                  3
                   Injured               232
                   Only_material_dmg     677
50                 Deadly                 19
                   Injured              1232
                   Only_material_dmg    4168
60                 Injured                 4
                   Only_material_dmg      16
70                 Injured                29
                   Only_material_dmg     364
80                 Deadly                  2
                   Injured                37
                   Only_material_dmg     547
90                 Only_material_dmg      42
100                Deadly                  2
                   Injured                43
                   Only_material_dmg    2158
130                Only_material_dmg      53
dtype: int64

In [32]:
'''
The end!
'''

'\nThe end!\n'